.Dice {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  img {
    height: 15vmin;
    width: 15vmin;
    border-radius: 5px;
  }
}

@media screen and (max-width: 500px) {
  .Dice {
    flex-direction: row;
  }
}
