.Controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3vw;
  background-color: #d55;
  .Controls__play-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 33vh;
  }
}

@media screen and (max-width: 500px) {
  .Controls {
    flex-direction: row;
    .Controls__play-buttons {
      height: 100%;
    }
  }
}
