$primary-color: #d55;
$secondary-color: #eee;

.Controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3vw;
  background-color: $primary-color;
  .Controls__play-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 33vh;
  }
  button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: 2.5vw;
    padding: 0.5rem;
    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 500px) {
  .Controls {
    flex-direction: row;
    .Controls__play-buttons {
      height: 100%;
    }
  }
}
