$inactive-color: #777;
$inactive-background: #ddd;
$winner-color: #d55;

.Player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  position: relative;
  height: 100%;
  flex-grow: 1;
  &.inactive {
    background-color: $inactive-background;
    color: $inactive-color;
    opacity: 0.8;
  }
  & > * {
    color: inherit;
  }
  &.winner {
    color: $winner-color;
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: url(../../assets/img/fireworks.gif) no-repeat 0 20% / contain;
    }
  }
}

.Player__title {
  position: relative;
  font-size: 7.5vw;
}

.Player__total-score {
  font-size: 5vw;
  &::before {
    padding-bottom: 1.5vw;
    content: "Total Score";
    display: block;
    font-size: 4vw;
    font-weight: 500;
  }
}
.Player__current-score {
  font-size: 3.5vw;
  &::before {
    padding-bottom: 1.5vw;
    content: "Current Score";
    display: block;
    font-size: 3vw;
    font-weight: 500;
  }
}
