$inactive-color: #777;
$inactive-background: #ddd;

.Player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  height: 100%;
  flex-grow: 1;
  &.inactive {
    background-color: $inactive-background;
    color: $inactive-color;
    opacity: 0.8;
  }
  & > * {
    color: inherit;
  }
}

.Player__title {
  position: relative;
  font-size: 7.5vw;
}

.Player__total-score {
  font-size: 5vw;
  &::before {
    padding-bottom: 1.5vw;
    content: "Total Score";
    display: block;
    font-size: 4vw;
    font-weight: 500;
  }
}
.Player__current-score {
  font-size: 5vw;
  &::before {
    padding-bottom: 1.5vw;
    content: "Current Score";
    display: block;
    font-size: 4vw;
    font-weight: 500;
  }
}
